*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html{
    font-family: monospace;
}

body{
    background-image: linear-gradient(150deg, #f45b5b, #1F85DE);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mainContainer
{
    width: 450px;
    height: 600px;
    display: block;
    border-radius: 15px;
    border: 0.5px solid black;
    box-shadow: 20px 20px 60px  rgb(44, 44, 44);
}

.uppperContainer
{
    height: 50%;
    background-image: linear-gradient(-150deg, #f78080,#f45b5b);
    display: block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}

.upperOuterContainer
{
    height:75%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 5px solid red; */
}

.currentDate
{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 0;
}

#unitTypeDropdown , .unitTypeDropdownOptions
{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        font-size: 40px;
        background:none;
        outline: none;
        border: none;
        /* appearance: none; */
}
#unitTypeDropdown > option
{
        background-color: transparent;
}

.unitTypeDropdownOptions
{
    font-size: 20px;
    margin: auto 10px;
}

.secondContainer
{
    display: flex;
}


.inputNumber
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: fit-content;
}

#inputValue
{
    font-size:30px;
    height: 80px;
    width: 160px;
    background: none;
    border: none;
    border-bottom: 1px solid white ;
    color: white;
    outline: none;
    letter-spacing: 1.5px;
    overflow: hidden;
    text-align: center;
}

.lowerContainer
{
    height: 50%;
    background-image: linear-gradient(-150deg, #1F85DE,#99b4cc);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; 
    /* border: 1px solid blue; */
}

#outputValue
{
    font-size:30px;
    height: 80px;
    width: 160px;
    border-bottom: 1px solid white ;
    color: white;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}